@model List<FinalProjectMVC.Models.Community>

<style>
    .name {
        width: 50%;
        vertical-align: top;
    }

    .phone_number {
        margin-top: 10px;
    }

    .table {
        border-top: 1px;
        border-color: darkslategrey;
    }
</style>

@if (Model != null)
{
    @if (ViewBag.number == 1)
    {
        <h3>@Model.Count result(s) match your preferences</h3>
        <br />
        <br />

        @foreach (Community com in Model)
        {
            <table class="table">
                <tr>
                    <td class="name"><h4>@com.Name</h4><br /><br />@com.Description</td>
                    <td class="phone_number">@com.PhoneNumber</td>
                    <td>
                        <iframe width="400"
                                height="250"
                                frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDOELKd8THjAlmPVHaNZt3wG7fgOC6CdPo
                                    &q=@com.GoogleAddress" allowfullscreen></iframe>
                    </td>
                </tr>
            </table>
        }
    }

    else
    {
        <h3>@Model.Count Result(s)</h3>
        <br />
        <br />


        @foreach (Community com in Model)
        {
            <table class="table">
                <tr>
                    <td class="name"><h4>@com.Name</h4><br /><br />@com.Description</td>
                    <td class="phone_number">@com.PhoneNumber</td>
                    <td>
                        <iframe
                                width="400"
                                height="250"
                                frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDOELKd8THjAlmPVHaNZt3wG7fgOC6CdPo
                                &q=@com.GoogleAddress" allowfullscreen>
                        </iframe>
                    </td>
                </tr>
            </table>
            <br />
            <br />
        }
    }
}

